html {
    color: #f2f2f2;
    background: #34354b;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Calibri", sans-serif !important;
}

header .main-color {
    color: #ffc107;
}

header.navbar {
    background-color: #857b9d !important;
}

nav.navbar,
div.crudButtons {
    background: #484b6a;
}

form {
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav form fieldset ul li,
nav ul li {
    list-style-type: none;
}

button.btn {
    background-color: #857b9d !important;
}

section {
    background: #34354b;
}

.welcome {
    color: #ccc;
    background: #34354b;
}

.col {
    background: #484b6a;
    padding: 35px;
    margin: 48px 48px 0px 48px;
}
.welcome h2 {
    font-family: Calibri;
    font-weight: 100;
    margin-top: 0;
}

.box {
    background: #484b6a;
}
