html {
    background: black;
    color: #333;
    font-family: "calibri", "times", "sans-serif";
}

body {
    padding: 0px;
    margin: 0px;
    color: #333;
    background: #fefefe;
}

#basicData {
    border: 1px solid silver;
    border-bottom-style: none;
    background: #fefefe;
    min-height: 96vh;
}

#basicData #createMaterialHeader {
    padding: 0px;
    margin: 2px;
}

button[type="submit"], button[type="button"] {
    padding: 4px 7px 4px 7px;
    border: none;
    border-radius: 4%;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px grey;
}

button[class="userLoginButton"] {
    padding: 4px;
    margin: 15px 10px 0px 10px;
    font-family: "calibri", "times", "sans-serif";
    font-size: 15px;
}

#transactions {
    margin: 0px;
    padding: 3px 7px 3px 7px;
    border: none;
    border-radius: 4%;
    outline: none;
    box-shadow: 0px 0px 5px grey;
}

#transactionsLoginForm {
    background: #cfdde8;
    margin: 2px;
}

#transactionsLoginForm p {
    margin: 5px 0px 5px 5px;
    padding: 5px;
}

#transactionsLoginForm p a {
    text-decoration: none;
    color: #333;
}

#basicData #createMaterialHeader h2 {
    margin: 0px;
    padding: 10px;
    background: linear-gradient(#cfdeed, #b0c7dd);
}

fieldset {
    border: none;
    margin: 0px;
    padding: 0px 0px 15px 0px;
}

.tabcontent {
    margin: 2px;
    background: #e9f0f6;
}

.tabcontent select,
.tabcontent input {
    border: none;
    box-shadow: 0px 0px 2px black;
    padding: 3px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.6);
    margin: 0px 10px 0px 10px;
    outline: none;
    width: 100px;
}

.tabcontent label {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

.tabcontent select option {
    border-radius: 25px 0px 0px 25px;
}

.tabcontent label {
    color: #aaa;
    font-size: 12px;
    color: #333;
}

#transactionsLoginForm fieldset {
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
}

footer {
    width: 100%;
    background: linear-gradient(#cfdeed, #b0c7dd);
    margin: 0px;
    padding: 0px;
    height: 4vh;
    display: table;
}

footer p {
    padding: 5px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
}

footer p a {
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
    margin: 2px;
}
